<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="your.packagename"
    android:installLocation="auto"    
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/AddonName" >
        
        <service
            android:name=".AddonService"
            android:permission="org.tint.permissions.services.ADDONS"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.tint.intent.action.ADDON" />
                <category android:name="org.tint.intent.category.CHANGE_THIS_TO_YOUR_ADDON_NAME" />
            </intent-filter>
        </service>
        
    </application>

</manifest>